@font-face {
  font-family: "Sansation";
  src:
    local("Sansation"),
    url("sansation/Sansation-Regular.ttf") format("opentype"),
}

body{
  --sidebarwidth: 200px;
  margin: 0;
  position: relative;
  font-family: Sansation, sans-serif;
  background: #bfd5a3;
}

.sidenav {
  height: 100vh;
  width: min-content;
  /* height: 100%; */
  width: var(--sidebarwidth);
  position: fixed;
  top: 0;
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
  background-color: #719f39;
  overflow-x: hidden;
  padding-top: 20px;
 
}

.sidenav .menuitem {
  width: max-content;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #dfdede;
  display: block;
}

.sidenav .menuitem:hover {
  color: #f1f1f1;
}

.sidenav header {
  width: max-content;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #1f5307;
  display: block;
}

main {
  flex-grow: 1;
  margin-left: var(--sidebarwidth);
  padding: 10px;
}

.slideshow{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 10px;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 400px;
}

figcaption {
  text-align: center;
}

.logo{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.project h1 {
  color: #1f5307;
}
.project > *:not(.slideshow){
  max-width: 800px;
}

.hidden{
  display: none;
}

.line {
  width: 53px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}