body{
  --sidebarwidth: 200px;
  margin: 0;
  position: relative;
}

.sidenav {
  height: 100vh;
  width: min-content;
  /* height: 100%; */
  width: var(--sidebarwidth);
  position: fixed;
  top: 0;
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
  background-color: #719f39;
  overflow-x: hidden;
  padding-top: 20px;
 
}

.sidenav a {
  width: max-content;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #dfdede;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav header {
  width: max-content;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #1f5307;
  display: block;
}

main {
  flex-grow: 1;
  margin-left: var(--sidebarwidth);
  padding: 10px;

}

img {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project{
  
}

.hidden{
  display: none;
}